- if user_signed_in?
  
- else
  %div.jumbotron
    %h1 Your Favorite Movies Reviewed
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur veniam, voluptatum deleniti explicabo mollitia iure repellendus totam, itaque labore cum enim, ea? At voluptatibus excepturi voluptates, tempore esse facere porro!
    %p= link_to 'Sign up to write a review', new_user_registration_path, class:'btn btn-primary btn-lg'

%div.row
  - @movies.each do |movie|
    %div.col-sm-6.col-md-3
      %div.thumbnail
        = link_to (image_tag movie.image.url(:medium),class: 'image'),movie